.wrap{
  height: 100%;
  background-size: cover;
  position: relative;
}

.container{
  position: relative;
  max-width: 60vw;
  min-width: fit-content;
  height: fit-content;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: auto;
  box-shadow: 0 25px 45px rgb(0,0,0,0.1);
  border: 1px solid rgb(255,255,255,0.5);
  border-right: 1px solid rgb(255,255,255,0.2);
  border-bottom: 1px solid rgb(255,255,255,0.2);
}

.text{
display: block;
max-width: 30vw;

}

@media only screen and (max-width: 800px) {
  .container{
min-width: fit-content;
max-width: 34vw;
display: block;
  }
  .text{
    margin: auto;
  }
}
