.wrap{
  height: 100%;
  background-size: cover;
  position: relative;
}

.container{
  position: relative;
  width: 60vw;
  height: fit-content;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: auto;
  box-shadow: 0 25px 45px rgb(0,0,0,0.1);
  border: 1px solid rgb(255,255,255,0.5);
  border-right: 1px solid rgb(255,255,255,0.2);
  border-bottom: 1px solid rgb(255,255,255,0.2);
}

.text{
display: block;
width: 30vw;
}
