.wrap{
  height: 100%;
  background-size: cover;
  position: relative;
}

.container{
  position: relative;
  width: 500px;
  height: fit-content;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  auto  ;
  box-shadow: 0 25px 45px rgb(0,0,0,0.1);
  border: 1px solid rgb(255,255,255,0.5);
  border-right: 1px solid rgb(255,255,255,0.2);
  border-bottom: 1px solid rgb(255,255,255,0.2);
}

.form{
  position: relative;
  padding: 10px;
}

.form h2{
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}

.form .inputBx{
  width: 100%;
  margin-top: 20px;
}

.form .inputBx input{
   width: 100%;
   background: rgba(255,255,255,0.2);
   border: none;
   outline: none;
   padding: 10px 20px;
   border-radius: 35px;
   border: 1px solid rgb(255,255,255,0.5);
   border-right: 1px solid rgb(255,255,255,0.2);
   border-bottom: 1px solid rgb(255,255,255,0.2);
   font-size: 16px;
   letter-spacing: 1px;
   color: #fff;
   box-shadow: 0 5px 15px rgb(0,0,0,0.05);
}

.form .inputBx textarea{
  width: 315px;
  height: 140px;
  resize: none;
  background: rgba(255,255,255,0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid rgb(255,255,255,0.5);
  border-right: 1px solid rgb(255,255,255,0.2);
  border-bottom: 1px solid rgb(255,255,255,0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff !important;
  box-shadow: 0 5px 15px rgb(0,0,0,0.05);
}

.form .inputBx input::placeholder{
  color: #fff;
}

.form .inputBx textarea::placeholder{
  color: #fff;
}

.form .inputBx input[type="submit"]{
  background: #fff;
  color: #666;
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 80px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.form .inputBx input[type="submit"]:hover{
  background: rgba(255,255,255,0.2);
  color: #fff;
  font-weight: 600;
}

.text{
  margin-top: 4px;
  margin-left: 34px;
  color: rgb(135, 3, 3);
}

.link{
  margin-top: 4px;
  margin-left: 0px;
  color: rgb(30, 89, 238);
}
